<launch>
  <!--
    Enemy target manager launch.

    Runtime parameters are loaded from:
      $(find rl_policy)/config/deployment_params.yaml

    The default node name is enemy_target_manager, matching the YAML section:
      enemy_target_manager:
        ...

    formation_id mapping:
      0 = random
      1 = line2d
      2 = circle2d
      3 = v_wedge_2d
      4 = rect2d
      5 = echelon_2d
      6 = random_disk
  -->

  <arg name="params_file" default="$(find rl_policy)/config/deployment_params.yaml"/>
  <arg name="node_name" default="enemy_target_manager"/>
  <arg name="use_python3_prefix" default="false"/>
  <arg name="output" default="screen"/>

  <rosparam command="load" file="$(arg params_file)"/>

  <group if="$(arg use_python3_prefix)">
    <node pkg="rl_policy"
          type="spawn_targets_node.py"
          name="$(arg node_name)"
          output="$(arg output)"
          launch-prefix="python3"/>
  </group>

  <group unless="$(arg use_python3_prefix)">
    <node pkg="rl_policy"
          type="spawn_targets_node.py"
          name="$(arg node_name)"
          output="$(arg output)"/>
  </group>
</launch>
